@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 259.6 5% 93%;
    --foreground: 0 0% 0%;
    --primary: 259.6 5% 100%;
    --primary-foreground:;
    --secondary:;
    --secondary-foreground:;
  }
  .dark {
    --background: 259.6 5% 13.3%;
    --foreground: 0 0% 95%;
    --primary: 259.6 5% 25%;
    --primary-foreground:;
    --secondary:;
    --secondary-foreground:;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px black;
  }
  .text-border {
    text-shadow: 0px 0px 2px black;
  }
}
