@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";

@custom-variant dark (&:is(.dark *));
/*
 Semantic color variables

 - bg-canvas: base background color (1)
 - bg-muted: Background color for muted elements (2) ( not fully sure where this applies yet )
 - bg-panel: background color for panels, cards, dropdowns etc (3)
 - (4) hover state for bg-panel
 - (5) active state for bg-panel
 - border: border and separator color for elements (6 or 7)
 - focus: border color for focused elements (8)
 - fg-disabled: Text color for disabled elements (10)
 - fg-muted: Text color for muted elements like placeholder text, description text, etc. (11)
 - fg: Text color for normal text (12)
 - primary: Mainly color of buttons
 - primary-fg: Text using primary color
 - primary-fg-muted: Text using primary color but muted


 Most of this is currently for the "background" color, accent colors differ slight for some elements

*/

:root {
    --primary: 231, 5%, 50%; /* #787A85 */
    --primary-accent: 253, 47%, 36%; /* #423086 */
    --primary-hover: 230, 5%, 45%; /* #6E707A */
    --primary-accent-hover: 251, 40%, 43%; /* #52429A */
    --canvas: 225, 6.7%, 88.2%; /* #dfe0e3 */
    --canvas-accent: 242.7, 52.4%, 91.8%; /* #e0dff5 */
    --fg-muted: 234.5, 7.7%, 72%; /* #B2B3BD */
    --fg-disabled: 230.8, 5.1%, 50%; /* #797B86 */
    --canvas-muted: 220, 7.3%, 92%; /* #e9eaec */
    --canvas-accent-muted: 240, 25.7%, 93.1%; /* #e9e9f2 */
    --panel: 240, 3%, 93.5%; /* #eeeeef */
    --panel-accent: 240, 13.3%, 94.1%; /* #EEEEF2 */
    --panel-hover: 228, 6.5%, 84.9%; /* #D6D7DB */
    --panel-accent-hover: 241.7, 68.6%, 90%; /* #D5D4F7 */
    --panel-active: 231, 8%, 82%; /* #CECFD5 */
    --panel-accent-active: 244, 75%, 87%; /* #C9C6F7 */
    --border: 231, 7%, 79%; /* #C6C7CD */
    --border-accent: 245, 76%, 84%; /* #BBB6F5 */
    --border-interactive: 228, 8%, 75%; /* #B9BBC3 */
    --border-accent-interactive: 246, 76%, 79%; /* #A8A0F2 */
    --focus: 231, 8%, 67%; /* #A5A7B2 */
    --focus-accent: 248, 76%, 72%; /* #9283EE */
    --fg: 230, 9%, 13%; /* #1E1F24 */
    --fg-accent: 256, 59%, 28%; /* #341E73 */
    --fg-muted: 234, 6%, 34%; /* #51525B */
    --fg-muted-accent: 251, 43%, 45%; /* #5542A6 */
    --fg-disabled: 230, 5%, 45%; /* #6E707A */
    --fg-disabled-accent: 251, 40%, 43%; /* #52429A */

    --normal-100: #C6C6A7;
    --normal-200: #A8A878;
    --normal-300: #6D6D4E;
    --fire-100: #F5AC78;
    --fire-200: #F08030;
    --fire-300: #9C531F;
    --water-100: #9DB7F5;
    --water-200: #6890F0;
    --water-300: #445E9C;
    --grass-100: #A7DB8D;
    --grass-200: #78C850;
    --grass-300: #4E8234;
    --electric-100: #FAE078;
    --electric-200: #F8D030;
    --electric-300: #A1871F;
    --ice-100: #BCE6E6;
    --ice-200: #98D8D8;
    --ice-300: #638D8D;
    --fighting-100: #D67873;
    --fighting-200: #C03028;
    --fighting-300: #7D1F1A;
    --poison-100: #C183C1;
    --poison-200: #A040A0;
    --poison-300: #682A68;
    --ground-100: #EBD69D;
    --ground-200: #E0C068;
    --ground-300: #927D44;
    --flying-100: #C6B7F5;
    --flying-200: #A890F0;
    --flying-300: #6D5E9C;
    --psychic-100: #FA92B2;
    --psychic-200: #F85888;
    --psychic-300: #A13959;
    --bug-100: #C6D16E;
    --bug-200: #A8B820;
    --bug-300: #6D7815;
    --rock-100: #D1C17D;
    --rock-200: #B8A038;
    --rock-300: #786824;
    --ghost-100: #A292BC;
    --ghost-200: #705898;
    --ghost-300: #493963;
    --dark-100: #A29288;
    --dark-200: #705848;
    --dark-300: #49392F;
    --dragon-100: #A27DFA;
    --dragon-200: #7038F8;
    --dragon-300: #4924A1;
    --steel-100: #D1D1E0;
    --steel-200: #B8B8D0;
    --steel-300: #787887;
    --fairy-100: #F4BDC9;
    --fairy-200: #EE99AC;
    --fairy-300: #9B6470;
  }
  /* 
  primary color: #423086,
  background: #121212,
  */
  .dark {
    --primary: 231, 6%, 45%; /* #6C6E79 */
    --primary-accent: 253.1, 67.6%, 58.8%; /* #6e4fdd */
    --primary-hover: 230.8, 5.1%, 50%; /* #797B86 */
    --primary-accent-hover: 252, 46%, 51%; /* #6049BC */
    --fg: 240, 6.2%, 93.7%; /* #eeeef0 */
    --fg-accent: 245, 100%, 93%; /* #E0DDFF */
    --canvas: 240, 5.3%, 7.5%; /* #121214 */
    --canvas-accent: 244.3, 30.4%, 9%; /* #11101e */
    --canvas-muted: 240, 3.8%, 10.2%; /* #19191B */
    --fg-muted: 234.5, 7.7%, 72%; /* #B2B3BD */
    --fg-accent-muted: 250, 100%, 82%; /* #B3A4FF */
    --fg-disabled: 230.8, 5.1%, 50%; /* #797B86 */
    --fg-accent-disabled: 252, 46%, 51%; /* #6049BC */
    --canvas-muted: 240, 3.8%, 10.2%; /* #19191b */
    --canvas-accent-muted: 246.3, 31.1%, 12%; /* #171528 */
    --panel: 225, 5.6%, 14.1%; /* #222326 */
    --panel-accent: 251.3, 45.3%, 20.8%; /* #261d4d */
    --panel-hover: 228, 5.7%, 17.1%; /* #292a2e */
    --panel-accent-hover: 254.2, 54.3%, 27.5%; /* #32206C */
    --panel-active: 230, 5.9%, 20%; /* #303136 */
    --panel-accent-active: 253, 50.3%, 32.4%; /* #3B297C */
    --border: 231.4, 5.8%, 23.7%; /* #393A40 */
    --border-accent: 251.9, 45.3%, 37.3%; /* #45348a */
    --border-interactive: 226.7, 6%, 29.2%; /* #46484f */
    --border-accent-interactive: 251.4, 42.2%, 44.1%; /* #5341A0 */
    --focus: 234.5, 5.5%, 39.4%; /* #5f606a */
    --focus-accent: 252, 48.1%, 53.1%; /* #654EC1 */
  }

  @theme inline {

    --font-pokemon-ds: var(--font-pokemon-ds);

    --blur-2: 6px;
    --blur-5: 14px;

    --color-primary: hsl(var(--primary));
    --color-primary-accent: hsl(var(--primary-accent));
    --color-primary-hover: hsl(var(--primary-hover));
    --color-primary-accent-hover: hsl(var(--primary-accent-hover));
    --color-fg: hsl(var(--fg));
    --color-fg-accent: hsl(var(--fg-accent));
    --color-canvas: hsl(var(--canvas));
    --color-canvas-accent: hsl(var(--canvas-accent));
    --color-fg-muted: hsl(var(--fg-muted));
    --color-fg-disabled: hsl(var(--fg-disabled));
    --color-canvas-muted: hsl(var(--canvas-muted));
    --color-canvas-accent-muted: hsl(var(--canvas-accent-muted));
    --color-panel: hsl(var(--panel));
    --color-panel-accent: hsl(var(--panel-accent));
    --color-panel-hover: hsl(var(--panel-hover));
    --color-panel-accent-hover: hsl(var(--panel-accent-hover));
    --color-panel-active: hsl(var(--panel-active));
    --color-panel-accent-active: hsl(var(--panel-accent-active));
    --color-border: hsl(var(--border));
    --color-border-accent: hsl(var(--border-accent));
    --color-border-interactive: hsl(var(--border-interactive));
    --color-border-accent-interactive: hsl(var(--border-accent-interactive));
    --color-focus: hsl(var(--focus));
    --color-focus-accent: hsl(var(--focus-accent));

    --color-normal-100: var(--normal-100);
    --color-normal-200: var(--normal-200);
    --color-normal-300: var(--normal-300);
    --color-fire-100: var(--fire-100);
    --color-fire-200: var(--fire-200);
    --color-fire-300: var(--fire-300);
    --color-water-100: var(--water-100);
    --color-water-200: var(--water-200);
    --color-water-300: var(--water-300);
    --color-grass-100: var(--grass-100);
    --color-grass-200: var(--grass-200);
    --color-grass-300: var(--grass-300);
    --color-electric-100: var(--electric-100);
    --color-electric-200: var(--electric-200);
    --color-electric-300: var(--electric-300);
    --color-ice-100: var(--ice-100);
    --color-ice-200: var(--ice-200);
    --color-ice-300: var(--ice-300);
    --color-fighting-100: var(--fighting-100);
    --color-fighting-200: var(--fighting-200);
    --color-fighting-300: var(--fighting-300);
    --color-poison-100: var(--poison-100);
    --color-poison-200: var(--poison-200);
    --color-poison-300: var(--poison-300);
    --color-ground-100: var(--ground-100);
    --color-ground-200: var(--ground-200);
    --color-ground-300: var(--ground-300);
    --color-flying-100: var(--flying-100);
    --color-flying-200: var(--flying-200);
    --color-flying-300: var(--flying-300);
    --color-psychic-100: var(--psychic-100);
    --color-psychic-200: var(--psychic-200);
    --color-psychic-300: var(--psychic-300);
    --color-bug-100: var(--bug-100);
    --color-bug-200: var(--bug-200);
    --color-bug-300: var(--bug-300);
    --color-rock-100: var(--rock-100);
    --color-rock-200: var(--rock-200);
    --color-rock-300: var(--rock-300);
    --color-ghost-100: var(--ghost-100);
    --color-ghost-200: var(--ghost-200);
    --color-ghost-300: var(--ghost-300);
    --color-dark-100: var(--dark-100);
    --color-dark-200: var(--dark-200);
    --color-dark-300: var(--dark-300);
    --color-dragon-100: var(--dragon-100);
    --color-dragon-200: var(--dragon-200);
    --color-dragon-300: var(--dragon-300);
    --color-steel-100: var(--steel-100);
    --color-steel-200: var(--steel-200);
    --color-steel-300: var(--steel-300);
    --color-fairy-100: var(--fairy-100);
    --color-fairy-200: var(--fairy-200);
    --color-fairy-300: var(--fairy-300);

  }

/* I need to have colors for red, red arrow, red hover, red arrow hover and save for the greens */

@layer base {
  body {
    --c1: #444cf7;
    --c2: #e5e5f7;
    @apply bg-canvas text-fg;
    background-image: linear-gradient(
        hsl(var(--border-accent)) 1px,
        transparent 1px
      ),
      linear-gradient(to right, hsl(var(--border-accent)) 1px, transparent 1px);
    background-size: 100px 100px;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px black;
  }
  .text-border {
    text-shadow: 0px 0px 2px black;
  }
  .stripes {
    background-image: linear-gradient(
      0deg,
      hsl(var(--panel-active)) 50%,
      hsl(var(--primary-accent)) 50%
    );
    background-size: 10px 10px;
  }

  .arrow-up {
    position: relative;
    &::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    background: rgba(0, 0, 0, 0.5);
    clip-path: polygon(50% 0,100% 50%,80% 50%,80% 100%,20% 100%,20% 50%,0 50%);
    }

    &:hover::after {
      background: rgba(0, 0, 0, 0.7);
  }

    &::before {
    content: "";
    display: block;
  }
  }
  .arrow-down {
    position: relative;
    &::after {
      content:"";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -10;
      background: rgba(0, 0, 0, 0.5);
      clip-path: polygon(0 50%,20% 50%,20% 0,80% 0,80% 50%,100% 50%,50% 100%);
    }

    &:hover::after {
      background: rgba(0, 0, 0, 0.7);
  }

    &::before {
    content: "";
    display: block;
  }
  }
}
